set es_enableCustomData 1 
set mysql_connection_string "server=localhost;database=diamond-rp;userid=root;password=gA62jR1k" 
endpoint_add_tcp "0.0.0.0:53003"
endpoint_add_udp "0.0.0.0:53003"
sv_maxclients 32


##Base Faite pour la communauté de ce discord https://discord.gg/j8ENwKF 
## ©| 2020 - Souki

#host= c'est lip du serv
#database= le nom de la bdd
#userid= nom du utilisateur mysql
#password = mdp mysql

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:1100001131043f5 group.superadmin # add the admin to the group


exec permissions.cfg

####### LIBS #######
ensure mysql-async

####### ESSENTIAL ########
ensure essentialmode
ensure esplugin_mysql
ensure es_extended
ensure esx_customui
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog
ensure es_admin2
ensure esx_spectate
ensure PvP
ensure es_mapper
ensure es_camera
start esx_status
start esx_basicneeds



######### DE BASE FIVEM #########
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
###ensure esx_scoreboard

######## CO PR LE SERV #########
ensure connectqueue

######## PHONE ########
ensure esx_addons_gcphone
start gcphone


####### MAP ##########
start coloredmap


start arbres


###### RADIO #######
start mumble-voip
start rp-radio
start mythic_notify
start radiant_animations




######## ESX ########
ensure esx_identity 
ensure esx_skin
#start skincreator
ensure skinchanger
ensure esx_status
ensure esx_basicneeds	
ensure esx_teleports
ensure esx_addonaccount
ensure esx_datastore
ensure esx_addoninventory
ensure esx_license
ensure esx_billing
ensure esx_society
ensure cron
ensure esx_vehiclelock
ensure ruby_core
ensure es_carwash
ensure esx_holdup
start esx_knatusrobberybank
ensure new_banking
ensure esx_property
ensure instance
ensure esx_eden_clotheshop
ensure esx_dmvschool
ensure esx_tattooshop
ensure esx_barbershop
ensure esx-kr-vehicle-push
ensure esx_mask
ensure esx_discord_bot
start esx_jb_outlawalert


start GoFast


start dzwon



#start esx_discord_bot2
ensure esx_blanchisseur
ensure replyandreport-esx
ensure esx_entitysync
ensure esx_celldoors
#ensure esx_vehicle_inventory
ensure esx_accessories
ensure esx_eden_garage
ensure esx_drugs
ensure esx_optionalneeds
ensure esx_handcuffs
start RebornProject_Poubelles
start esx_jb_advanced_truck_inventory
#start airports
start weapon_switch_anim
start HideInTrunk
start esx_emotes
start esx_carshowroom
start esx_criminalrecords
start esx_sit
start esx_narshop



start esx_knatusblowtorch
start mhacking
##start esx_doorlock_mhacking
start mtracker
start esx_doorlock


#### shops ####
start yzk_dealershop
start pNotify
start 99kr-shops
start ft_libs
start esx_aircraftshop
start esx_boatshop

start yzk_dealershop2
start Peds-master
start vendeurdesac


######## NON ESX ########
ensure blips
ensure vSync
ensure removeAIcops
ensure nodroppnj
start ESX_GiveCarKeys
ensure weapons-on-back
ensure CalmAI
ensure speedometer
ensure sound
ensure FR-Vehicle-Control
ensure gang_blips
ensure pingkick
ensure esx_location
ensure RealisticTraffic
ensure afkkick
ensure armeplusrealiste
ensure jsfour-idcard
ensure novehicleweapon
ensure InteractSoundS
ensure gd_airport_ai_begone
ensure deletearmevehicule
ensure vdk_call
ensure knockout
ensure kors
ensure JF_RagdollKey
ensure DiscordRichPresence
ensure ReducedNPCs
ensure FiveM-BanSql
ensure mal
ensure simpledrift
ensure CarryPeople
ensure JF_SeatShuffle
ensure polspeak
start radar

start vdk_call

start sac

start esx_sirencontroles
start esx_vangelico_robbery


start RealisticVehicleFailure
##start esx_shops
start TakeHostage
start dix-oblivionpill
start WeazelNewsCam
start setroannounce
start RebornProject_Slapping

#start esx_whitelist



###### POLICE #####
ensure esx_policejob
ensure polgt500
ensure polf430
start pin
start police
start jsfour-criminalrecord

start alertepolice
##start esx_celldoors
##start esx_doorlock
#start esx_PoliceArmory
start esx_policedog
start esx_PoliceGarage
#start esx_policemdt
start fn_illegals
start qalle_policearmory
start st-cctv

start esx_braceletgps

start police2
start police3
start riot
start esx_speedradar

####### VETEMENT #########
start moddings_paradise
start giletparballe
start runningshoose
start EUP
start arme
start NikeHoodieFivem
start NIKE_PARIS_SAINT_GERMAIN_2020_JORDAN

####### JOBS #########
ensure esx_joblisting
ensure esx_vehicleshop
ensure service
start tabac
start esx_vigneronjob
start esx_taxijob
ensure esx_lscustom
ensure esx_mechanicjob
ensure agentimmo
ensure esx_unicornjob
#ensure banquier
ensure avocat
ensure esx_orpailleurs
ensure esx_ambulancejob
##start esx_tequilala
start esx_gouv
#start esx_brasseurjob
start esx_burgerjob

start esx_hunting #chasse

#start esx_fishing
start fueler
start bucheron
start miner
start slaughterer
start tailer
start esx_vehiclespawner

######## VOITURES #######
ensure DodgeEMS
start kart_20
start serv_electricscooter
start policefelon
ensure DodgeEMS
start LegacyFuel
start c63
start rs3
start 911turbos
start a45
start bmwm3e92
start BMWS
start 488
start e63amg
start x6m
start nh2r
start pscout
start booster
start audirs3
start lp770
start contgt2011
start ram2500
start chiron17
start p1
start ftype
start LWGTR
start PD458WB
start e63s
start huayrabcroadster
start DodgeEMS
start ghispo2
start pol718
start LSPD_pack
start Captain14_LSPD 
start sspres
start polp1 
start barricade
start Captain14_Sheriff 
start Captain14_FBI
start taxi 
start ammunationVehicles 
start 16challenger 
start 450crf 
start 750li 
start a45   
start a7
start aeroxr 
start e63amg 
start BMM 
start bmwm3e92 
start BMWS 
start brz
start c63 
start onebeast 
start evo10 
start fmx 
start gtr 
start MI8
start Kart20 
start Kart3 
start kx450f 
start 205GTti  
start lp770 
start whitehawk 
start mlbrabus 
start pack_voiture_luxe_1 
start nh2r 
start pack_voiture_luxe_2 
start R6 
start rmodm4gts 
start rs3 
start rs7 
start Valkyrie
start bugatiV
start hms
start titanic2

start amggtr
start 63lb
start mcjcw20
start q820
start rmodgt63
start x6m2
start yz450f
start zl12017

start levante
start asdbx
start kx450f
start gtr35
start mt07

#########MECANO#########
start esx_mechanicjob
start flatbed

start esx_lscustom


########## sheriff ##########
ensure esx_sheriffjob
ensure sheriffcar
ensure paletopd
ensure sheriffmav


######## DOUANE ########
start borderbufsc
start esx_douanejob
start douane
start border
start border2
start border3
start bp
start borderbufsc



######### GANG ########
start esx_ballasjob
start esx_mafia
start esx_vagos
start esx_syndicat
#ensure esx_bloods
start esx_white
start esx_cartel
start esx_blackmarketjob
start Oxiyass_BlackmarketVoiture

######### IPL #######
ensure bob74_ipl


######## AMMUNATION #####
ensure esx_weaponshop
ensure grangeillegal
ensure esx_clip

######## MAPPING ########
start PoliceMapping
start AutoLuxe
start phxlsmc
start PCG1
start mapweed
start mapcok
start mapkart
start maporga
start burgershot
start Crucialfix
start mapfight
start mapstudio
start vagosint
start life
start mapballas
start familiesint
start groovehus
start taxiofficev2
start ballasint
start bennys
start bilfirma
start burgershot
start douane
start familiesint
start hostageMLOpatoche
start MapEMS
start mapping_Ymap
start map-proxies
start mlo_cityhall
start pablito_delperro
start pablito_restauracja
start politeint
start PoliceMapping
start taxi
start vagosint

start houseballas


#start Houston_phxlsmc
start mlo_cityhall

start mapopium
##start mapmethgang
##start mapweedgang
start tableballas

##### PHONE SHOP ########

start iFruitStore
start phoneshop


#####PEDS######
start tomescobar
start fille


###### MENU PERSO / HUD  / MDP #######
ensure LoadLoadingScreen
start JoinTransition

ensure krz_personalmenu
#start esx_customui
start esx_fwd_ui
#### vMenu #####

start vMenu




# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password 6c70be344f

sets Discord "https://discord.gg/j8ENwKF"
sets Etat "Ouvert"
sets tags "Free-Access, Double Jobs, RP Serieux, Vehicules Imports, �conomie Semi-R�aliste, Telephone, Staff Actif, fr, qc, rp, fa, roleplay, rp, semi, police, cars, ems, jobs, drugs, reallife, custom, serious, discord, cops, economy, france, serieux, mafia, cartel, gang, addons, lspd, stream, cloth"



# Bani�re de votre serveur 
# Toute taille convient parfaitement 
###sets banner_detail "a faire"
###sets banner_connecting "a faire"

##### ANTI CHEAT CONFIG #####


# Nom de votre serveur 
sv_hostname "Base Family Developpement | https://discord.gg/j8ENwKF "

# Nested configs!
#exec server_internal.cfg

# Logo de votre serveur (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Hide player endpoints in external log output.
sv_endpointprivacy true

#-----ONESYNC----#
#set onesync_distanceCullVehicles true #Cause des crash pour le moment + Cause des joueurs invisible
set onesync_forceMigration true
set onesync_workaround763185 true

# Server player slot limit (must be between 1 and 255)

#----CLE LICENSE FIVEM----#

sv_licenseKey z233avj17ewp77ma7p5wd4ckv9uhlht8 




# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "2E8D6836A5DB6F4FF853C50727A5C1E2"





# �vite le bug "couldn't load resource manager"
add_ace group.admin webadmin allow
add_principal identifier.steam:110000119bd3a84 group.admin
set onesync_enabled 1
#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
set steam_webApiKey "9FC5405FEBC21BBA433351E1B7490859"
set sv_UseDirectListing true
sets locale "fr-FR"
set sv_listingIPOverride "127.0.0.1"

